---
---

<section class="mb-8">
  <div>
    <h1 class="font-bold text-2xl md:text-3xl py-6 overflow-hidden">
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Student Tech Enthusiasts
      </span>
    </h1>
    <p class="mb-5">
      Hey everyone! We are Student Tech Enthusiasts, a tech community based on
      Faculty of Economics at University of Indonesia. We learn by building
      things, documenting the entire process, and releasing it to the internet
      for everyone to read, replicate, and criticize.
    </p>
    <p class="mb-5">These are our key principles:</p>
    <ul class="mt-5">
      <li>
        <strong>Embrace mistakes.</strong>
        Learning is an endless loop of trial and error. Without the capacity to fail,
        we won't stand a chance of navigating through the treacherous path of pursuing
        knowledge. Our community is a sandbox of experiments where mistakes are the
        catalyst of our skill mastery.
      </li>
      <li>
        <strong>Play the infinite game.</strong>
        There is no such thing as winning and losing in learning. Sometimes we’re
        ahead of the others, but sometimes we’re behind. We don't worship test scores.
        The only metric we use to benchmark ourselves is our past self.
      </li>
      <li>
        <strong>Curiosity pays off.</strong>
        We won't get anywhere if we don't ask enough questions. We might not always
        get the all answers we need, but the quest is often more valuable than the
        treasure.
      </li>
      <li>
        <strong>Independence.</strong>
        We are not part of any formal organizations, hence we don’t need anyone’s
        permission to do anything. We have the freedom to do whatever we want (under
        reasonable legal and ethical norms, of course).
      </li>
      <p class="my-5">Kudos to our team.</p>
      <li>
        <strong>
          <a href="https://www.linkedin.com/in/rahmanfadhil/">
            Abdurrahman Fadhil
          </a>
        </strong>
      </li>
      <li>
        <strong>
          <a href="https://www.linkedin.com/in/richita-hongo-0097b8251/">
            Richita Hongo
          </a>
        </strong>
      </li>
      <li>
        <strong>
          <a href="https://www.linkedin.com/in/hafidz-kurniawan-833734253/">
            Hafidz Kurniawan
          </a>
        </strong>
      </li>
    </ul>
  </div>
</section>
